.body {
    margin: 0 auto;
    background: whitesmoke;

    
}

.head {
    font-size: 75px;
    color: whitesmoke;
    font-family: 'Rubik Mono One', sans-serif;
    
}

    

#buttons {
    margin: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    padding: 20px;
    
}







